# Ignore everything but...
/*

# ... gitignore ...
!.gitignore

# ... i3, i3blocks, mpv, ranger & twmn ...
!.config/
.config/*
!.config/compton
!.config/firefox
!.config/i3
!.config/i3blocks
!.config/mpv
!.config/ranger
!.config/twmn

# ... custom keyboard layout
!.config/pc
!.config/de

# ... custom scripts ...
!.scripts

# ... mail shit ...
!.mutt/
.mutt/*
!.mutt/.example_davmail
!.mutt/.example_mail_smtp
!.mutt/.example_offlineimaprc
!.mutt/mailcap

# ... spacemacs theme! ...
!.emacs.d/
.emacs.d/*
!.emacs.d/spacemacs-dark-even-darker-now-theme.el

# ... basic stuff ...
!.bash_aliases
!.bash_profile
!.bashrc
!.fonts.conf
!.spacemacs
!.vimrc
!.Xdefaults
!.xinitrc

