#TabsToolbar .tabbrowser-tab[selected] .tab-line {
	background-color: red !important;
}
#TabsToolbar .tabbrowser-tab .tab-line {
	background-color: red !important;
}

.tab-text {
  font-size: 16px !important;
}

#urlbar[focused] {
    border: 2px solid red !important;
    font-size: 12pt !important;
}
#urlbar{
    font-size: 12pt !important;
}
